@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("BPGNinoMtavruli-Bold.woff2") format("woff2"),
    url("BPGNinoMtavruli-Bold.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "DejaVu Sans";
  src: url("DejaVuSans.woff2") format("woff2"),
    url("DejaVuSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
